driftfile /var/lib/ntp/drift
restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1 
restrict -6 ::1

{% for server in ntpservers %}
server {{ server }} iburst
{% endfor %}

includefile /etc/ntp/crypto/pw
keys /etc/ntp/keys
